{% extends "base.html" %}

{% block content %}

<section class="products-section">

    <h2>Our Bouquets</h2>

    <p>
        Handmade crochet bouquets crafted with love.
    </p>

    <div class="products-grid">

        {% for product in products %}

        <div class="product-card">

            <div class="image-container">

                <img src="{{ url_for(
                    'static',
                    filename='images/products/' + product.image
                ) }}"
                alt="{{ product.name }}">

                <<a href="https://wa.me/919999999999?text=Hi!%20I%20am%20interested%20in%20{{ product.name }}%20({{ product.price }}).%20Could%20you%20please%20share%20more%20details?"
                  target="_blank"
                  class="hover-enquire">

                  Enquire

                  </a>

            </div>

            <div class="product-info">

                <h3>{{ product.name }}</h3>

                <p class="price">

                    {{ product.price }}

                </p>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}