{% extends "base.html" %}

{% block content %}

<section class="products-section">

    <h2>Others</h2>

    <p>
        Handmade crochet creations crafted with love.
    </p>

    <div class="products-grid">

        {% for product in products %}

        <div class="product-card">

            <div class="image-container">

                <img src="{{ url_for(
                    'static',
                    filename='images/products/' + product.image
                ) }}"
                alt="{{ product.name }}">

                <a href="https://wa.me/917022699321?text=Hello%20Little%20Knots!%20🌸%0A%0AI%20would%20like%20to%20buy:%0A%0A🧶%20Product:%20{{ product.name }}%0A💰%20Price:%20{{ product.price }}%0A%0ACould%20you%20please%20share%20the%20details?%20Thank%20you!%20💜"
                target="_blank"
               class="hover-enquire">

              Enquire

              </a>

            </div>

            <div class="product-info">

                <h3>{{ product.name }}</h3>

                <p class="price">

                    {{ product.price }}

                </p>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}