{% extends "base.html" %}

{% block content %}

<section class="products-section">

    <h2>Others</h2>

    <p>
        Handmade crochet creations crafted with love.
    </p>

    <div class="products-grid">

        {% for product in products %}

        <div class="product-card">

            <div class="image-container">
           <<button class="hover-enquire"

        onclick="addToWishlist(
            '{{ product.name }}',
            '{{ product.price }}'
        )">

     Add to Wishlist ❤️ 

</button>
                <img src="{{ url_for(
                    'static',
                    filename='images/products/' + product.image
                ) }}"
                alt="{{ product.name }}">

                <div class="wishlist-actions">

    
   
    <button class="hover-enquire"

        onclick="addToWishlist(
            '{{ product.name }}',
            '{{ product.price }}'
        )">

   Add to Wishlist ❤️ 

</button>

</div>

            </div>

            <div class="product-info">

                <h3>{{ product.name }}</h3>

                <p class="price">

                    {{ product.price }}

                </p>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}